@import url(http://fonts.googleapis.com/css?family=PT+Sans:700|Open+Sans:400,300,600);
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* Colors */
/* Font Sizes */
/* Font Weights */
/* Font Families */
/* Other Resource Paths */
/* Globals */
body {
  color: #424242;
  background-color: #fcfcfc;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Georgia, "Times New Roman", Times, serif; }

a, a:hover {
  color: #7dbc5d;
  cursor: pointer;
  text-decoration: none;
  outline: none; }

pre {
  padding: 2px 5px;
  font-size: 9px;
  background-color: #171717;
  border-color: #171717; }
  pre code {
    padding-left: 12px;
    display: inline-block;
    color: #505050; }

/* Helper Styles */
.mb {
  margin-bottom: 16px; }
  .mb.sp1 {
    margin-bottom: 1px; }
  .mb.sp2 {
    margin-bottom: 2px; }
  .mb.sp3 {
    margin-bottom: 3px; }
  .mb.sp5 {
    margin-bottom: 5px; }
  .mb.sp6 {
    margin-bottom: 6px; }
  .mb.sp8 {
    margin-bottom: 8px; }
  .mb.sp10 {
    margin-bottom: 10px; }
  .mb.sp12 {
    margin-bottom: 12px; }
  .mb.sp16 {
    margin-bottom: 16px; }
  .mb.sp18 {
    margin-bottom: 18px; }
  .mb.sp20 {
    margin-bottom: 20px; }
  .mb.sp25 {
    margin-bottom: 25px; }
  .mb.sp30 {
    margin-bottom: 30px; }
  .mb.sp35 {
    margin-bottom: 35px; }
  .mb.sp40 {
    margin-bottom: 40px; }
  .mb.sp50 {
    margin-bottom: 50px; }
  .mb.sp60 {
    margin-bottom: 60px; }
  .mb.sp75 {
    margin-bottom: 70px; }
  .mb.sp100 {
    margin-bottom: 100px; }
  .mb.sp150 {
    margin-bottom: 150px; }
  .mb.sp200 {
    margin-bottom: 200px; }
  .mb.sp300 {
    margin-bottom: 300px; }

.mt {
  margin-top: 16px; }
  .mt.sp1 {
    margin-top: 1px; }
  .mt.sp2 {
    margin-top: 2px; }
  .mt.sp3 {
    margin-top: 3px; }
  .mt.sp5 {
    margin-top: 5px; }
  .mt.sp6 {
    margin-top: 6px; }
  .mt.sp8 {
    margin-top: 8px; }
  .mt.sp10 {
    margin-top: 10px; }
  .mt.sp12 {
    margin-top: 12px; }
  .mt.sp16 {
    margin-top: 16px; }
  .mt.sp18 {
    margin-top: 18px; }
  .mt.sp20 {
    margin-top: 20px; }
  .mt.sp25 {
    margin-top: 25px; }
  .mt.sp30 {
    margin-top: 30px; }
  .mt.sp35 {
    margin-top: 35px; }
  .mt.sp40 {
    margin-top: 40px; }
  .mt.sp50 {
    margin-top: 50px; }
  .mt.sp60 {
    margin-top: 60px; }
  .mt.sp75 {
    margin-top: 70px; }
  .mt.sp100 {
    margin-top: 100px; }
  .mt.sp150 {
    margin-top: 150px; }
  .mt.sp200 {
    margin-top: 200px; }
  .mt.sp300 {
    margin-top: 300px; }

.ml {
  margin-left: 16px; }
  .ml.sp1 {
    margin-left: 1px; }
  .ml.sp2 {
    margin-left: 2px; }
  .ml.sp3 {
    margin-left: 3px; }
  .ml.sp5 {
    margin-left: 5px; }
  .ml.sp6 {
    margin-left: 6px; }
  .ml.sp8 {
    margin-left: 8px; }
  .ml.sp10 {
    margin-left: 10px; }
  .ml.sp12 {
    margin-left: 12px; }
  .ml.sp16 {
    margin-left: 16px; }
  .ml.sp18 {
    margin-left: 18px; }
  .ml.sp20 {
    margin-left: 20px; }
  .ml.sp25 {
    margin-left: 25px; }
  .ml.sp30 {
    margin-left: 30px; }
  .ml.sp35 {
    margin-left: 35px; }
  .ml.sp40 {
    margin-left: 40px; }
  .ml.sp50 {
    margin-left: 50px; }
  .ml.sp60 {
    margin-left: 60px; }
  .ml.sp75 {
    margin-left: 70px; }
  .ml.sp100 {
    margin-left: 100px; }
  .ml.sp150 {
    margin-left: 150px; }
  .ml.sp200 {
    margin-left: 200px; }
  .ml.sp300 {
    margin-left: 300px; }

.mr {
  margin-right: 16px; }
  .mr.sp1 {
    margin-right: 1px; }
  .mr.sp2 {
    margin-right: 2px; }
  .mr.sp3 {
    margin-right: 3px; }
  .mr.sp5 {
    margin-right: 5px; }
  .mr.sp6 {
    margin-right: 6px; }
  .mr.sp8 {
    margin-right: 8px; }
  .mr.sp10 {
    margin-right: 10px; }
  .mr.sp12 {
    margin-right: 12px; }
  .mr.sp16 {
    margin-right: 16px; }
  .mr.sp18 {
    margin-right: 18px; }
  .mr.sp20 {
    margin-right: 20px; }
  .mr.sp25 {
    margin-right: 25px; }
  .mr.sp30 {
    margin-right: 30px; }
  .mr.sp35 {
    margin-right: 35px; }
  .mr.sp40 {
    margin-right: 40px; }
  .mr.sp50 {
    margin-right: 50px; }
  .mr.sp60 {
    margin-right: 60px; }
  .mr.sp75 {
    margin-right: 70px; }
  .mr.sp100 {
    margin-right: 100px; }
  .mr.sp150 {
    margin-right: 150px; }
  .mr.sp200 {
    margin-right: 200px; }
  .mr.sp300 {
    margin-right: 300px; }

.mz {
  margin: 0; }

.mlz {
  margin-left: 0; }

.mrz {
  margin-right: 0; }

.mbz {
  margin-bottom: 0; }

.mtz {
  margin-top: 0; }

.pb {
  padding-bottom: 16px; }
  .pb.sp1 {
    padding-bottom: 1px; }
  .pb.sp2 {
    padding-bottom: 2px; }
  .pb.sp3 {
    padding-bottom: 3px; }
  .pb.sp5 {
    padding-bottom: 5px; }
  .pb.sp6 {
    padding-bottom: 6px; }
  .pb.sp8 {
    padding-bottom: 8px; }
  .pb.sp10 {
    padding-bottom: 10px; }
  .pb.sp12 {
    padding-bottom: 12px; }
  .pb.sp16 {
    padding-bottom: 16px; }
  .pb.sp18 {
    padding-bottom: 18px; }
  .pb.sp20 {
    padding-bottom: 20px; }
  .pb.sp25 {
    padding-bottom: 25px; }
  .pb.sp30 {
    padding-bottom: 30px; }
  .pb.sp35 {
    padding-bottom: 35px; }
  .pb.sp40 {
    padding-bottom: 40px; }
  .pb.sp50 {
    padding-bottom: 50px; }
  .pb.sp60 {
    padding-bottom: 60px; }
  .pb.sp75 {
    padding-bottom: 70px; }
  .pb.sp100 {
    padding-bottom: 100px; }
  .pb.sp150 {
    padding-bottom: 150px; }
  .pb.sp200 {
    padding-bottom: 200px; }
  .pb.sp300 {
    padding-bottom: 300px; }

.pt {
  padding-top: 16px; }
  .pt.sp1 {
    padding-top: 1px; }
  .pt.sp2 {
    padding-top: 2px; }
  .pt.sp3 {
    padding-top: 3px; }
  .pt.sp5 {
    padding-top: 5px; }
  .pt.sp6 {
    padding-top: 6px; }
  .pt.sp8 {
    padding-top: 8px; }
  .pt.sp10 {
    padding-top: 10px; }
  .pt.sp12 {
    padding-top: 12px; }
  .pt.sp16 {
    padding-top: 16px; }
  .pt.sp18 {
    padding-top: 18px; }
  .pt.sp20 {
    padding-top: 20px; }
  .pt.sp25 {
    padding-top: 25px; }
  .pt.sp30 {
    padding-top: 30px; }
  .pt.sp35 {
    padding-top: 35px; }
  .pt.sp40 {
    padding-top: 40px; }
  .pt.sp50 {
    padding-top: 50px; }
  .pt.sp60 {
    padding-top: 60px; }
  .pt.sp75 {
    padding-top: 70px; }
  .pt.sp100 {
    padding-top: 100px; }
  .pt.sp150 {
    padding-top: 150px; }
  .pt.sp200 {
    padding-top: 200px; }
  .pt.sp300 {
    padding-top: 300px; }

.pl {
  padding-left: 16px; }
  .pl.sp1 {
    padding-left: 1px; }
  .pl.sp2 {
    padding-left: 2px; }
  .pl.sp3 {
    padding-left: 3px; }
  .pl.sp5 {
    padding-left: 5px; }
  .pl.sp6 {
    padding-left: 6px; }
  .pl.sp8 {
    padding-left: 8px; }
  .pl.sp10 {
    padding-left: 10px; }
  .pl.sp12 {
    padding-left: 12px; }
  .pl.sp16 {
    padding-left: 16px; }
  .pl.sp18 {
    padding-left: 18px; }
  .pl.sp20 {
    padding-left: 20px; }
  .pl.sp25 {
    padding-left: 25px; }
  .pl.sp30 {
    padding-left: 30px; }
  .pl.sp35 {
    padding-left: 35px; }
  .pl.sp40 {
    padding-left: 40px; }
  .pl.sp50 {
    padding-left: 50px; }
  .pl.sp60 {
    padding-left: 60px; }
  .pl.sp75 {
    padding-left: 70px; }
  .pl.sp100 {
    padding-left: 100px; }
  .pl.sp150 {
    padding-left: 150px; }
  .pl.sp200 {
    padding-left: 200px; }
  .pl.sp300 {
    padding-left: 300px; }

.pr {
  padding-right: 16px; }
  .pr.sp1 {
    padding-right: 1px; }
  .pr.sp2 {
    padding-right: 2px; }
  .pr.sp3 {
    padding-right: 3px; }
  .pr.sp5 {
    padding-right: 5px; }
  .pr.sp6 {
    padding-right: 6px; }
  .pr.sp8 {
    padding-right: 8px; }
  .pr.sp10 {
    padding-right: 10px; }
  .pr.sp12 {
    padding-right: 12px; }
  .pr.sp16 {
    padding-right: 16px; }
  .pr.sp18 {
    padding-right: 18px; }
  .pr.sp20 {
    padding-right: 20px; }
  .pr.sp25 {
    padding-right: 25px; }
  .pr.sp30 {
    padding-right: 30px; }
  .pr.sp35 {
    padding-right: 35px; }
  .pr.sp40 {
    padding-right: 40px; }
  .pr.sp50 {
    padding-right: 50px; }
  .pr.sp60 {
    padding-right: 60px; }
  .pr.sp75 {
    padding-right: 70px; }
  .pr.sp100 {
    padding-right: 100px; }
  .pr.sp150 {
    padding-right: 150px; }
  .pr.sp200 {
    padding-right: 200px; }
  .pr.sp300 {
    padding-right: 300px; }

.pz {
  padding: 0; }

.plz {
  padding-left: 0; }

.prz {
  padding-right: 0; }

.pbz {
  padding-bottom: 0; }

.ptz {
  padding-top: 0; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.centered {
  margin-right: auto;
  margin-left: auto; }

.col-half {
  display: inline-block;
  width: 48%; }

/* Color Setters */
.bg.trans {
  background-color: transparent; }
.bg.white {
  background-color: #fcfcfc; }
.bg.off-white {
  background-color: #f3f3f3; }
.bg.light-gray {
  background-color: #ebebeb; }
.bg.mid-gray {
  background-color: #a0a0a0; }
.bg.gray {
  background-color: #5d5d5d; }
.bg.black {
  background-color: #424242; }
.bg.arsenic {
  background-color: #171717; }
.bg.steel {
  background-color: #212121; }
.bg.green {
  background-color: #7dbc5d; }
.bg.pale-green {
  background-color: #a5d98b; }
.bg.light-green {
  background-color: #9acb81; }
.bg.dark-green {
  background-color: #405337; }
.bg.dark-blue {
  background-color: #000d25; }

.fg.white {
  color: #fcfcfc; }
  .fg.white.important {
    color: #fcfcfc !important; }
.fg.off-white {
  color: #f3f3f3; }
  .fg.off-white.important {
    color: #f3f3f3 !important; }
.fg.light-gray {
  color: #ebebeb; }
  .fg.light-gray.important {
    color: #ebebeb !important; }
.fg.mid-gray {
  color: #a0a0a0; }
  .fg.mid-gray.important {
    color: #a0a0a0 !important; }
.fg.gray {
  color: #5d5d5d; }
  .fg.gray.important {
    color: #5d5d5d !important; }
.fg.black {
  color: #424242; }
  .fg.black.important {
    color: #424242 !important; }
.fg.arsenic {
  color: #171717; }
  .fg.arsenic.important {
    color: #171717 !important; }
.fg.steel {
  color: #212121; }
  .fg.steel.important {
    color: #212121 !important; }
.fg.green {
  color: #7dbc5d; }
  .fg.green.important {
    color: #7dbc5d !important; }
.fg.pale-green {
  color: #a5d98b; }
  .fg.pale-green.important {
    color: #a5d98b !important; }
.fg.light-green {
  color: #9acb81; }
  .fg.light-green.important {
    color: #9acb81 !important; }
.fg.dark-green {
  color: #405337; }
  .fg.dark-green.important {
    color: #405337 !important; }
.fg.dark-blue {
  color: #000d25; }
  .fg.dark-blue.important {
    color: #000d25 !important; }

/* Bootstrap Overrides */
ul,
ol {
  margin: 0; }

.btn-primary {
  background-color: #5c9db2;
  border-color: #5c9db2;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.8); }
  .btn-primary:hover {
    background-color: #4e91a6;
    border-color: #4e91a6; }

/* Global Rules */
section .container,
section .container-fluid {
  padding-top: 50px;
  padding-bottom: 25px; }

footer {
  padding: 75px 0; }

.page-slider {
  max-height: 800px;
  overflow: hidden; }

.two-column-article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 100px;
  -moz-column-gap: 100px;
  column-gap: 100px; }

.navbar {
  height: 116px;
  line-height: 116px;
  margin-bottom: 0;
  background-color: #fcfcfc;
  border: none;
  border-color: transparent; }
  .navbar a {
    float: left; }
  .navbar img {
    margin-top: -10px; }
  .navbar ul.list-inline li {
    float: right; }
    .navbar ul.list-inline li a {
      padding: 0 15px;
      font-size: 14px;
      font-weight: 700;
      font-family: "PT Sans", arial, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: #5d5d5d; }
  .navbar.navbar-fixed-top {
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    /* Fixes chrome bug on scroll */
    border-width: 0; }

/* Mobile  */
/* Landscape phones and smaller */
/* Tablets */
/* Font Weights */
.thin {
  font-weight: 100; }

.light {
  font-weight: 300; }

.normal {
  font-weight: 400; }

.strong {
  font-weight: 500; }

.heavy {
  font-weight: 700; }

/* Font Sizes */
.tiny {
  font-size: 9px;
  line-height: 16.2px; }
  .tiny p {
    font-size: 9px;
    line-height: 16.2px; }

.small {
  font-size: 12px;
  line-height: 21.6px; }
  .small p {
    font-size: 12px;
    line-height: 21.6px; }

.regular {
  font-size: 16px;
  line-height: 28.8px; }
  .regular p {
    font-size: 16px;
    line-height: 28.8px; }

.medium {
  font-size: 20px;
  line-height: 36px; }
  .medium p {
    font-size: 20px;
    line-height: 36px; }

.large {
  font-size: 28px;
  line-height: 50.4px; }
  .large p {
    font-size: 28px;
    line-height: 50.4px; }

.xlarge {
  font-size: 40px;
  line-height: 72px; }
  .xlarge p {
    font-size: 40px;
    line-height: 72px; }

.huge {
  font-size: 60px;
  line-height: 108px; }
  .huge p {
    font-size: 60px;
    line-height: 108px; }

/* Font Decoration */
.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

/* Global */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", "Open Sans", tahoma, arial, sans-serif;
  font-weight: 600;
  color: #424242;
  margin: 1em 0 0.5em; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
    font-size: 0.4em;
    font-weight: 300;
    color: #686868; }

h1 {
  font-size: 150px;
  margin: 25px 0 0.25em; }

h2 {
  font-size: 100px;
  line-height: 50px; }

h3 {
  font-size: 64px; }

h4 {
  font-size: 48px;
  font-weight: 400; }

h5 {
  font-size: 36px; }

h6 {
  font-size: 32px;
  font-weight: 400; }

.strong,
strong {
  font-weight: 600; }

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 28px;
  color: #424242; }

p.tiny {
  font-family: "Open Sans", arial, tahoma, sans-serif;
  line-height: 16px; }

.open-sans {
  font-family: "Open Sans", arial, tahoma, sans-serif; }
  .open-sans p {
    font-family: "Open Sans", arial, tahoma, sans-serif; }

.icon {
  display: inline-block;
  width: 33px;
  height: 30px;
  background-image: url("../imgs/icon-sprites.png");
  background-repeat: no-repeat; }
  .icon.video {
    background-position: -36px -25px; }
  .icon.map-pin {
    background-position: -39px -79px; }
  .icon.pencil {
    background-position: -35px -139px; }
  .icon.picture {
    background-position: -36px -203px; }

.btn {
  font-family: "Open Sans", arial, tahoma, sans-serif; }

.btn-outline {
  border: 3px solid #424242;
  color: #424242;
  /* Borders and text color are dark by default
   * This class will invert the colors to white
   * for darker backgrounds
   */ }
  .btn-outline.btn-lg {
    padding-left: 32px;
    padding-right: 32px; }
  .btn-outline:hover {
    color: #5c5c5c;
    border-color: #5c5c5c; }
  .btn-outline.btn-outline-white {
    border: 3px solid #fcfcfc;
    color: #fcfcfc; }
    .btn-outline.btn-outline-white:hover {
      color: #e3e3e3;
      border-color: #e3e3e3; }

.btn-xl {
  font-size: 28px;
  padding: 0.7em 3em; }

.btn-default {
  background-color: #ebebeb;
  border-color: #dedede;
  color: #5d5d5d; }

.btn-primary {
  background-color: #1fa6ff; }

.btn-success {
  background-color: #7dbd5d; }

.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); }

/* Layouts */
#homepage-hero {
  margin-top: 90px;
  border-bottom: 1px solid #dedede; }
  #homepage-hero li {
    position: relative;
    text-align: center;
    color: #fcfcfc; }
    #homepage-hero li img {
      width: 100%; }
      #homepage-hero li img#homepage-hero-logo {
        width: 429px;
        position: absolute;
        top: 10%;
        left: 50%;
        margin-left: -214px; }
    #homepage-hero li button {
      position: absolute;
      top: 38%;
      left: 50%;
      margin-left: -48px;
      background-color: transparent;
      background-image: url(../imgs/play-button.png);
      width: 96px;
      height: 96px;
      font-size: 0;
      border-width: 0; }
    #homepage-hero li h3 {
      position: absolute;
      top: 60%;
      font-family: "Bebas Neue", "Open Sans", tahoma, arial, sans-serif;
      font-size: 48px;
      width: 100%; }
    #homepage-hero li p {
      position: absolute;
      top: 73%;
      left: 50%;
      color: #fcfcfc;
      width: 76%;
      margin-left: -38%; }

.page-hero li {
  position: relative;
  text-align: left;
  color: #fff; }
  .page-hero li img {
    width: 100%; }
  .page-hero li .page-hero-content {
    position: absolute;
    bottom: 50px;
    left: 20%;
    width: 40%; }
  .page-hero li h1 {
    text-align: left;
    font-size: 125px;
    line-height: 1em; }
  .page-hero li p {
    color: #fff;
    font-size: 20px; }

#features {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dedede; }
  #features .feature-wpr {
    margin-bottom: 50px; }
    #features .feature-wpr img {
      margin: 20px 0; }

#additional-features {
  border-top: 1px solid #fff; }

#resources {
  background: #000d25 url("../imgs/breadboard.jpg") no-repeat 50% 0;
  background-size: cover;
  padding-bottom: 725px; }

/* Mobile  */
@media (max-width: 767px) {
  #homepage-hero li button {
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-left: -30px; }
  #homepage-hero li h3 {
    top: 65%;
    font-family: "Bebas Neue", "Open Sans", tahoma, arial, sans-serif;
    font-size: 56px;
    width: 100%; }
  #homepage-hero li p {
    display: none; }
  #homepage-hero li img#homepage-hero-logo {
    width: 30%;
    margin-left: -15%; }

  #resources {
    background-image: none;
    padding-bottom: 0; } }
/* Landscape phones and smaller */
@media (max-width: 420px) {
  #homepage-hero li h3 {
    top: 60%;
    font-family: "Bebas Neue", "Open Sans", tahoma, arial, sans-serif;
    font-size: 36px;
    width: 100%; }
  #homepage-hero li button {
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-left: -30px; }
  #homepage-hero li p {
    display: none; }
  #homepage-hero li img#homepage-hero-logo {
    width: 30%;
    margin-left: -15%; }

  #getting-started img {
    width: 100%; } }
/* Tablets */
@media (min-width: 768px) and (max-width: 979px) {
  #homepage-hero li button {
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-left: -30px; }
  #homepage-hero li h3 {
    top: 50%;
    font-family: "Bebas Neue", "Open Sans", tahoma, arial, sans-serif;
    font-size: 36px;
    width: 100%; }
  #homepage-hero li p {
    top: 65%;
    width: 80%;
    margin-left: -40%; }
  #homepage-hero li img#homepage-hero-logo {
    width: 30%;
    margin-left: -15%; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #homepage-hero li h3 {
    top: 55%;
    font-size: 80px; }
  #homepage-hero li p {
    position: absolute;
    top: 70%;
    left: 50%;
    color: #fcfcfc;
    width: 70%;
    margin-left: -35%;
    font-size: 22px;
    line-height: 40px; }

  #resources {
    padding-bottom: 0px; } }
#documentation-sidebar {
  list-style: none;
  padding-left: 0;
  font-family: "Open Sans", arial, tahoma, sans-serif; }
  #documentation-sidebar.sticky {
    position: fixed;
    bottom: 0; }
  #documentation-sidebar a {
    color: #5d5d5d; }
  #documentation-sidebar ul {
    display: none;
    list-style: none;
    padding-left: 15px;
    padding-top: 20px; }
    #documentation-sidebar ul li {
      margin-bottom: 15px; }
      #documentation-sidebar ul li:last {
        margin-bottom: none; }
  #documentation-sidebar > li {
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ebebeb; }
    #documentation-sidebar > li.child-active, #documentation-sidebar > li.active {
      border-top: 1px solid #fff;
      background-color: #f7f7f7; }
      #documentation-sidebar > li.child-active > ul, #documentation-sidebar > li.active > ul {
        display: block; }
  #documentation-sidebar li.active > a {
    font-weight: 800;
    color: #7dbc5d; }
