.btn {
    font-family: $open-sans;
}

.btn-outline {
    border:3px solid $black;
    color: $black;

    &.btn-lg {
        padding-left:32px;
        padding-right:32px;
    }

    &:hover {
        color: lighten($black, 10%);
        border-color: lighten($black, 10%);
    }

    /* Borders and text color are dark by default
     * This class will invert the colors to white
     * for darker backgrounds
     */
    &.btn-outline-white {
        border:3px solid $white;
        color: $white;

        &:hover {
            color: darken($white, 10%);
            border-color: darken($white, 10%);
        }
    }
}

.btn-xl {
    font-size: $large;
    padding:0.7em 3em;

}

.btn-default {
    background-color:$light-gray;
    border-color:darken($light-gray, 5%);
    color:$gray;
}

.btn-primary {
    background-color:#1fa6ff;
}

.btn-success {
    background-color:#7dbd5d;
}