$button-size:40px;

#documentation-sidebar {

	list-style:none;
	padding-left:0;
	font-family:$open-sans;

	&.sticky {
		position:fixed;
		bottom:0;
	}

	a {
		color:$gray;
	}

	ul {
		display:none;
		list-style:none;
		padding-left:15px;
		padding-top:$button-size / 2;

		li {
			margin-bottom:15px;

			&:last {
				margin-bottom:none;
			}
		}
	}

	> li {
		padding:$button-size / 2;
		background-color:white;
		border-bottom:1px solid $light-gray;

		&.child-active,
		&.active {
			border-top:1px solid #fff;
			background-color:darken($white, 2%);

			> ul {
				display:block;
			}
		}
	}

	li {
		&.active {
			> a {
				font-weight:800;
				color:$green;
			}
		}
	}


}