/* Font Weights */
.thin       { font-weight:$thin }
.light      { font-weight:$light }
.normal     { font-weight:$normal }
.strong     { font-weight:$strong }
.heavy      { font-weight:$heavy }

/* Font Sizes */
.tiny    { @include type-font-size($tiny) }
.small   { @include type-font-size($small) }
.regular { @include type-font-size($regular) }
.medium  { @include type-font-size($medium) }
.large   { @include type-font-size($large) }
.xlarge  { @include type-font-size($xlarge) }
.huge    { @include type-font-size($huge) }

/* Font Decoration */
.uppercase  { text-transform:uppercase }
.underline  { text-decoration:underline }

/* Global */
h1, h2, h3, h4, h5, h6 {
    font-family:$bebas;
    font-weight:600;
    color: $black;
    margin:1em 0 0.5em;

    > small {
        font-size: 0.4em;
        font-weight:300;
        color: lighten($black, 15%);
    }
}
h1 { font-size:150px; margin:25px 0 0.25em;}
h2 { font-size:100px; line-height:50px }
h3 { font-size:64px;  }
h4 { font-size:48px; font-weight:400; }
h5 { font-size:36px;  }
h6 { font-size:32px; font-weight:400; }

.strong,
strong { font-weight:600 }

p {
    font-family: $georgia;
    font-size:16px;
    line-height:28px;
    color:$black;
}

p.tiny {
    font-family:$open-sans;
    line-height:16px;
}

.open-sans {
    font-family: $open-sans;

    p {
        font-family: $open-sans;
    }
}