/* Colors */
$trans: 'transparent';
$white: #fcfcfc;
$off-white: #f3f3f3;

$light-gray:#ebebeb;
$mid-gray: #a0a0a0;
$gray:#5d5d5d;

$black: #424242;

$arsenic: #171717;
$steel: #212121;
$green: #7dbc5d;
$pale-green: #a5d98b;
$light-green: #9acb81;
$dark-green: #405337;
$pank-blue: #5c9db2;
$purple: #a970bb;
$dark-blue: #000d25;


/* Font Sizes */
$tiny: 9px;
$small: 12px;
$regular: 16px;
$medium: 20px;
$large: 28px;
$xlarge: 40px;
$huge: 60px;


/* Font Weights */
$thin:   100;
$light:  300;
$normal: 400;
$strong: 500;
$heavy:  700;


/* Font Families */
$georgia:   Georgia, "Times New Roman", Times, serif;
$pt-sans:   "PT Sans", arial, sans-serif;
$bebas:     "Bebas Neue", "Open Sans", tahoma, arial, sans-serif;
$open-sans: "Open Sans", arial, tahoma, sans-serif;


/* Other Resource Paths */
$icons: '../imgs/icon-sprites.png';